<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
  </head>

  <body>
    <main>
      <div class="container">
        <form id="urlForm">
          <input
            id="name"
            type="text"
            name="url"
            placeholder="Enter URL"
            required
          />
          <button id="submitButton" type="submit">Submit</button>
        </form>
      </div>

      <div id="results">
        <div id="results">
          <h2>Results:</h2>
        </div>
      </div>
    </main>
  </body>
</html>
